.header{
    display:flex;
    justify-content: space-between;
    border: 4px solid black;
    border-radius: 10px;
}

.logo {
    width: 100px;
    height:100px;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul >li {
    padding: 10px;
    margin: 10px;
}

.res-card{
    margin: 8px;
    padding: 5px;
    width: 200px; 
    background-color: lightgrey;
}

.res-card:hover{
    box-shadow: 10px 10px 10px lightslategrey ;
    border: 1px solid rgb(11, 241, 238);
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-img{
    width: 100%;
    height: 120px;

}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
    margin: 10px;
    /* display: flex; */
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

@keyframes shimmer-card {
from {
    background-position: 200% 0;
    }    
to {
    background-position: -200% 0;
    }
}

.shimmer-card{
    animation: shimmer-card 1.5s linear infinite;
    background: linear-gradient(to right, transparent 0%, rgba(95, 94, 94, 0.1) 25%,  transparent 50%);
    background-size: 200% 100%;
}

.btn-Name{
    cursor:pointer;
    width: 70px;
    height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: lightsteelblue;
    box-shadow:5px 5px 10px inset rgb(44, 43, 43);
}

.filter{
    display: flex;
}
.search-box{
    margin: 0 5px;
}
.recommended-list{
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px 10px;
    border: 5px solid lightseagreen;
    border-radius: 10px;
    display: flex;
}
.dish-menu-img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.recommended{
    padding-left: 15px;
}
.p-dish-manu-img{
    margin-top: 25px;
}

.menu-header{
    margin: 0 20px;
    padding-left:10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(192, 194, 194);
}

.user-card{
    padding: 10px ;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin: 20px;
}

.link{
    text-decoration: none;
    outline: none;
    color: black;
    
}